<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <title>Registro</title>

</head>

<body>
    <h1>Formulario de Registro</h1>

    <!--Formulario para el ingreso de nuevas tareas tomado de Bootstrap-->
    <form method="post" action="{{url_for('enviar')}}">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Ingrese el nombre" name="nombre">
        </div>
        <div class="form-group">
            <label>Telefono</label>
            <input type="text" class="form-control"
                placeholder="Ingrese el telefono" name="telefono">
        </div>
        <div class="form-group">
            <label>Estado</label>
            <select class="form-select" size="1" aria-label="size 3 name select example" name ="estado">
                <option value=""></option>
                <option value="Normal">Normal</option>
                <option value="Caso">Caso</option>
                <option value="Caso">Cercano</option>
            </select>

        </div>
         <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="submit" value="Registrar" class="btn btn-primary">
        </div>
    </form><br>

    <h1>Registro</h1>

    <!--Controlador 1.1 Tabla para mostrar las tareas-->
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Estado</th>
            </tr>

        </thead>

        <tbody>

            <tr>
                {% for tarea in registro %}
                <!--Mostrar la descripción de la tarea-->
                <th>{{tarea.nombre}}</th>
                <!--Mostrar correo electrónico del responsable-->
                <th>{{tarea.telefono}}</th>
                <!--Mostrar la prioridad de la tarea-->
                <th>{{tarea.estado}}</th>
            </tr>
            {% endfor %}
        </tbody>

    </table>




</body>
</html>