<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <title>Tienda</title>

</head>

<body>
    <h1>Tienda</h1>

    <!--Formulario para el ingreso de nuevas tareas tomado de Bootstrap-->
    <form method="post" action="{{url_for('enviar1')}}">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Ingrese el nombre" name="nombre">
        </div>
        <div class="form-group">
            <label>Telefono</label>
            <input type="text" class="form-control" placeholder="Ingrese el telefono" name="telefono">
        </div>
        <div class="form-group">
            <label>Estado</label>
            <input type="text" class="form-control" placeholder="Ingrese el estado" name="estado">
        </div>
        <div class="form-group">
            <label>Gerente</label>
            <input type="text" class="form-control" placeholder="Ingrese el nombre del gerente" name="gerente">
        </div>

        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="submit" value="Registrar1" class="btn btn-primary">
        </div>


    </form><br>

    <h1>Registro</h1>

    <!--Controlador 1.1 Tabla para mostrar las tareas-->
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Telefono</th>
                <th scope="col">Estado</th>
                <th scope="col">Gerente</th>
            </tr>

        </thead>

        <tbody>

            <tr>
                {% for tarea in registro %}
                <!--Mostrar el nombre-->
                <th>{{tarea.nombre}}</th>
                <!--Mostrar el telefono-->
                <th>{{tarea.telefono}}</th>
                <!--Mostrar el estado-->
                <th>{{tarea.estado}}</th>
                <!--Mostrar el nombre gerente-->
                <th>{{tarea.gerente}}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>